{% extends 'base.html' %}
{% block head %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtnoeXzktsecCcXHp7L0XOytAAdUHbEMY">
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

<script>
// render google map

var pos;
var map;
var markers = [];
var bounds;



function initialize() {
  var mapOptions = {
    zoom: 14,
    navigationControlOptions: {
      style: google.maps.NavigationControlStyle.MEDIUM
      },
    mapTypeId: "roadmap"
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  bounds = new google.maps.LatLngBounds();
  console.log(bounds)

  if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(show_position);

  var input = (
      document.getElementById('destination'));
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  var searchBox = new google.maps.places.SearchBox(input);

  google.maps.event.addListener(searchBox, 'places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    var place = places[0]
    var marker = new google.maps.Marker({
      map: map,
      icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
      title: place.name,
      position: place.geometry.location
    });

    markers.push(marker);
    bounds.extend(place.geometry.location)

    console.log(markers + "markers")
    console.log(markers[0].geometry)

    var json = {
      marker1: {
        latitude: 'lat',
        longitude: 'lng'
      },
      marker2: {
        latitude: 'lat',
        longitude: 'lng'
      }
    }

    for (var i=0; i<2; i++) {
      marker = "marker" + i
      json.marker.lat = markers[i].geometry.location.A;
      json.marker.lng = markers[i].geometry.location.F;
    }


      $.get(
        url = "/register_location",
        data = {json},
        success = function (data) {
          console.log("data string " + data);
        }
        )  

    map.fitBounds(bounds);
  });

  google.maps.event.addListener(map, 'bounds_changed', function() {
    var proximity = map.getBounds();
    searchBox.setBounds(proximity);
  });

    } 
}
  
function show_position(p)
{
  pos=new google.maps.LatLng(p.coords.latitude,p.coords.longitude);
  map.setCenter(pos);
  map.setZoom(14);
  console.log(pos);
  console.log("postion data?")


  var marker1 = new google.maps.Marker({
      position: pos,
      map: map,
      title:"You are here"

  });
  markers.push(marker1)
  bounds.extend(pos)
  
  /// start popup
  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h3 id="firstHeading" class="firstHeading">This is you</h3>'+
      '<div id="bodyContent">'+
      '<p>Find another person near you and contact them by ' +
      'selecting their flag, deciding if you would like to walk with them'+
      'and clicking the call button '+
      '</p>'+
      '</div>'+
      '</div>';
      //put overall rating in stars here!

  var infowindow = new google.maps.InfoWindow({
      content: contentString
  });

  google.maps.event.addListener(marker1, 'click', function() {
    infowindow.open(map,marker1);
  });
  //end popup

}


////TODO:
////// create other users in area 
///// create click function that for pop up
///// when call submit is pressed, pass users number into flask and return twilio call





// render map on div
google.maps.event.addDomListener(window, 'load', initialize);

</script>


{% endblock %}

{% block content %}

  
  <input id="destination" class="controls" type="text" placeholder="Where are you headed?">

  <div id="cover">
      <input id="destination" class="controls" type="submit" value="Message a Walking Buddy!">
  </div>

  <script>
    $( "#cover" ).click(function() {
      $.post( "/call", $( "#destination" ));
    });

 </script>


  <div id="map-canvas"></div>

{% endblock %}

