{% extends 'base.html' %}
{% block head %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtnoeXzktsecCcXHp7L0XOytAAdUHbEMY">
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

<script>
// render google map

var pos;
var map;
var markers = [];

function initialize() {
  var myLatlng = new google.maps.LatLng(37.7686922,-122.4417199,13);
  var mapOptions = {
    zoom: 14,
    navigationControlOptions: {
      style: google.maps.NavigationControlStyle.MEDIUM
      }
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var bounds = new google.maps.LatLngBounds();
  map.fitBounds(bounds);

  if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(show_position);

  // Create the search box and link it to the UI element.
  var input = /** @type {HTMLInputElement} */(
      document.getElementById('destination'));
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  var searchBox = new google.maps.places.SearchBox(
    /** @type {HTMLInputElement} */(input));

  // [START region_getplaces]
  // Listen for the event fired when the user selects an item from the
  // pick list. Retrieve the matching places for that item.
  google.maps.event.addListener(searchBox, 'places_changed', function() {
    var places = searchBox.getPlaces();
    console.log(places)

    if (places.length == 0) {
      return;
    }

    // For each place, get the icon, place name, and location.
    // markers = [];
    var bounds = new google.maps.LatLngBounds();
    // for (var i = 0, place; place = places[i]; i++) {
    //   var image = {
    //     url: place.icon,
    //     size: new google.maps.Size(71, 71),
    //     origin: new google.maps.Point(0, 0),
    //     anchor: new google.maps.Point(17, 34),
    //     scaledSize: new google.maps.Size(25, 25)
    //   };

      // Create a marker for each place.
      
      var place = places[0]
      var marker = new google.maps.Marker({
        map: map,
        icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
        title: place.name,
        position: place.geometry.location
      });

      markers.push(marker);

      bounds.extend(place.geometry.location);
    // }

    map.fitBounds(bounds);
  });

  // Bias the SearchBox results towards places that are within the bounds of the
  // current map's viewport.
  google.maps.event.addListener(map, 'bounds_changed', function() {
    var bounds = map.getBounds();
    searchBox.setBounds(bounds);
  });

    } 
}
  
function show_position(p)
{
  pos=new google.maps.LatLng(p.coords.latitude,p.coords.longitude);
  map.setCenter(pos);
  map.setZoom(14);
  console.log(pos);
  console.log("postion data?")


  var marker1 = new google.maps.Marker({
      position: pos,
      map: map,
      title:"You are here"

  });
  markers.push(marker1)
  
}

// render map on div
google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}

{% block content %}
  
  <input id="destination" class="controls" type="text" placeholder="Where are you headed?">
  <div id="map-canvas"></div>

{% endblock %}

