{% extends 'base.html' %}
{% block head %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuNv11mCAnVkv77bxGj5zfaeflXsYLsV4">
</script>

<script>
// render google map

var pos;
var map;

function initialize() {

  var myLatlng = new google.maps.LatLng(37.7686922,-122.4417199,13);
  var mapOptions = {
    zoom: 14,
    navigationControlOptions: {
      style: google.maps.NavigationControlStyle.MEDIUM
      }
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  if (navigator.geolocation) {
      console.log("navigator data?")
        navigator.geolocation.getCurrentPosition(show_position);

    } 
}
  
function show_position(p)
{
  pos=new google.maps.LatLng(p.coords.latitude,p.coords.longitude);
  map.setCenter(pos);
  map.setZoom(14);
  console.log(pos);
  console.log("postion data?")


  var marker = new google.maps.Marker({
      position: pos,
      map: map,
      title:"You are here"
  });
  
}

// render map on div
google.maps.event.addDomListener(window, 'load', initialize);

</script>
 
  <style type="text/css">html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}</style>

{% endblock %}

{% block content %}
  
  
  <div id="map-canvas"></div>

{% endblock %}

