{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/register.css">
{% endblock %}

{% block content %}

<div class="container">
    <h1 class = "title"> Invite a Friend </h1>
    <form action ="/invite_process" method = "POST">
        <fieldset>
            <input name="email" placeholder="Enter your friend's" class="email" type="email" required />
            <p><input type="submit" value="Send Invitation"></p>
        </fieldset>
    </form>
<div>

{% endblock %}