{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/rating.css">
{% endblock %}

{% block content %}

<div class="container">
    <h1 class = "title"> Rate your companion</h1>
    <form action ="/rating_process" method = "POST">
        <fieldset>
            <h3>Friendliness Rating</h3>
            <p><input type="hidden" name="companion" value="2"></p>
            <span class="respect-rating" id="respect-rating">
              <input type="radio" name="respect-rating" value="1"><i></i>
              <input type="radio" name="respect-rating" value="2"><i></i>
              <input type="radio" name="respect-rating" value="3"><i></i>
              <input type="radio" name="respect-rating" value="4"><i></i>
              <input type="radio" name="respect-rating" value="5"><i></i>
            </span>

            <h3>Saftey rating </h3>
            <span class="safe-rating" id="safe-rating">
              <input type="radio" name="safe-rating" value="1"><i></i>
              <input type="radio" name="safe-rating" value="2"><i></i>
              <input type="radio" name="safe-rating" value="3"><i></i>
              <input type="radio" name="safe-rating" value="4"><i></i>
              <input type="radio" name="safe-rating" value="5"><i></i>
            </span>
            <p><input type="submit" value="Rate this Walk"></p>
    </form>
</div>



{% endblock %}s